/* css/main.css */
body {
    font-family: system-ui, -apple-system, sans-serif;
    background-color: #f5f5f5;
}

.tooltip {
    display: none;
    position: absolute;
    z-index: 50;
}

.group:hover .tooltip {
    display: block;
}

.hazard-indicator {
    width: 16px !important;
    height: 16px !important;
}
